body {
  font-family: 'sans-serif';
}

#select-message {
  display: inline-block;
  padding: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #000;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

#select-message:hover .dropdown-content {
  display: block;
}

#select-message:hover .dropdown {
  color: #FFF;
  background-color: #853998;
}
